@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #fbceb1;
    box-shadow: 0px 3px 10px #a3a3a3;
}

/* Navbar */
.cab {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha os itens verticalmente */
}

.nav-cab {
    font-family: "montserrat", sans-serif;
    display: flex;
    text-align: center;
    gap: 30px;
}

/* Botões de autenticação */
.auth-buttons {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
    font-family: "montserrat", sans-serif;
}

.auth-buttons button {
    padding: 8px 15px;
    font-size: 20px 1vw;
    border: none;
    cursor: pointer;
}

.reg {
    background-color: white;
    border-radius: 5px;
}

.log {
    background-color: white;
    border-radius: 5px;
}

/* Estilo do botão "menu" */
.menu {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    }
